@charset "UTF-8";

::-webkit-scrollbar { 
    display: none; 
}

@font-face {
    font-family: 'gridnik';
    src: url('../fonts/gridnik_regular-webfont.woff2') format('woff2'),
         url('../fonts/gridnik_regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'gridnik';
    src: url('../fonts/gridnik_medium-webfont.woff2') format('woff2'),
         url('../fonts/gridnik_medium-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}
/*
@font-face {
    font-family: 'gridnik';
    src: url('gridnik_bold-webfont.woff2') format('woff2'),
         url('gridnik_bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}
*/

body.loader_active,
body.loader_active a{
	cursor:progress!important;
}


html {
   /* background-color: #0f0f0f!important;*/
}
body.l-body{
	 font-family: 'Open Sans', sans-serif;
	 font-weight: 200;
	 font-size:14px;
}

body .l-canvas{
	background-color:#292929;
}
.l-section.color_alternate{
	
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6{
	font-weight: 600;
	line-height: 130%;
	margin: 0 0 6.4px;
	margin: 0 0 6.4px;
	margin: 0 0 .4rem;
	padding-top: 0;
	text-transform:uppercase;
	font-family: gridnik;
}

body h3{
	font-size:18px;
}
p,
.l-main p{
	line-height:120%;
	margin: 0 0 16px;
	margin: 0 0 1rem;
}
.l-main .height_full .l-section-h{
	padding-top:0;
	padding-bottom:0;
}

#custom_css_rules{
	display:none;	
}

.trama_preloader{
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:500;
	background:#1F1F1F;
	}	

.l-main .fullscreen_section >.l-section-h{
	padding:0;
}


.subscribe_nav{
	position:fixed;
	bottom:15px;
	left:20px;
	z-index:100;
}
.w-btn.color_primary.style_outlined {
    box-shadow: 0 0 0 2px inset;
	}
	.w-btn.color_primary.style_outlined .w-btn-label{
		color:#fff;
	}

.subscribe_nav .w-btn-wrapper.align_left{
	margin-right:.5em;
}
.subscribe_nav .w-btn.style_none{
	padding: 0 1em;
}

.main_logo{
	position:fixed;
	width:50%;
	max-width:180px;
	z-index:100;
	text-transform:uppercase;
	top:15px;
	left:20px;
	cursor:pointer;
	font-size:12px;
	font-weight:400;
	text-align:center;
}
	
.main_menu_link{
	position:fixed;
	z-index:100;
	text-transform:uppercase;
	top:30px;
	right:15px;
	cursor:pointer;
	font-size:12px;
	font-weight:400;
	text-align:center;
}
.main_menu_link_bg{
	background:#1F1F1F;
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:0;
}
.main_menu_label{
	display:none;
	position:absolute;
	width:100%;
	bottom:0;
	-webkit-transition: all .3s;
	transition:all .3s;
	-webkit-transition-delay:.2s;
	        transition-delay:.2s;
	}
	.main_menu_label.main_menu_label_opened{
		visibility:hidden;
		opacity:0;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	}
	.main_menu_open .main_menu_label.main_menu_label_opened{
		visibility:visible;
		opacity:1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	}
	.main_menu_open .main_menu_label.main_menu_label_closed{
		visibility:hidden;
		opacity:0;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	}
	.sand_icon{
		width:38px;
		height:38px;
		box-shadow:inset 0 0 0 2px #732973;
		border-radius:50%;
		position:relative;
		transition:all .3s;
	}
	.sand_icon:hover{
		box-shadow:inset 0 0 0 20px #732973;
	}
	.sand_icon_bar{
		width:50%;
		height:2px;
		background:#fff;
		position:absolute;
		top:50%;
		margin-top:-1px;
		left:25%;
		transition:all .3s;
	}
	.sand_icon_bar_top{
		top:35%;
	}
	.sand_icon_bar_bottom{
		top:65%;
		transition:all .5s;
	}
	
	.main_menu_open .sand_icon_bar_top{
		transform:rotate(135deg);
		top:50%;
	}
	.main_menu_open .sand_icon_bar_bottom{
		transform:rotate(225deg);
		top:50%;
	}
	.main_menu_open .sand_icon_bar_mid{
		
		width:0;
		left:50%;
	}
	
	
.main_menu_block{
	position:fixed;
	width:100%;
	height:100%;
	right:0;
	background:#2d2d2d;
	visibility:hidden;
	opacity:0;
	z-index:80;
	max-width:300px;
	padding-top:100px;

}


.main_menu_block .main_nav{
	position:relative;
}



ul.main_nav_list{
	padding:0;
	list-style:none;
	color:#fff;
	font-size:16px;
	letter-spacing:2px;
	text-transform:uppercase;
	font-weight:400;
}
ul.main_nav_list li{
	position:realative;
	margin-bottom:15px;
}
ul.main_nav_list a{
	color:#fff;
	padding:7px 0;
	display:inline-block;
	min-width:50%;
}







.share_button_block{
	position:fixed;
	right:15px;
	bottom:15px;
	z-index:80;
}
.share_button_block .block_button{
	width:38px;
	height:38px;
	line-height:38px;
}
.share_button_block .block_button_icon{
	font-size:19px;
}

ul.social_icons{
	list-style:none;
	padding:0;
	margin:0;
	position:absolute;
	bottom:100%;
	opacity:0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	visibility:hidden;
	-webkit-transition: all .3s;
	transition:all .3s;
	-webkit-transition-delay:.5s;
	        transition-delay:.5s;
	}
	ul.social_icons li{
		margin:0;
		-webkit-transform:scale(.5);
		        transform:scale(.5);
		-webkit-transition: all .3s;
		transition:all .3s;
		-webkit-transition-delay:.5s;
		        transition-delay:.5s;
	}
	ul.social_icons li .block_button{
		
	}
.share_button_block.is_open ul.social_icons,
.share_button_block:hover ul.social_icons{
	opacity:1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	visibility:visible;
	-webkit-transition-delay:0s;
	        transition-delay:0s;
}
.share_button_block.is_open ul.social_icons li,
.share_button_block:hover ul.social_icons li{
	margin:15px 0;
	-webkit-transition-delay:0s;
	        transition-delay:0s;
	-webkit-transform:scale(1);
	        transform:scale(1);
}

.share_button_block .social_icons .block_button_bg{
	background:transparent;
	box-shadow:inset 0 0 0 1px #fff;
}
.share_button_block .social_icons .block_button:hover .block_button_bg{
	box-shadow:inset 0 0 0 0px #732973;
	background:#732973;
}

.share_button_block.is_open .share_button .block_button_bg,
.share_button_block:hover .share_button .block_button_bg{
	-webkit-transform:rotate(135deg);
	        transform:rotate(135deg);
	/*background:transparent;
	box-shadow:inset 0 0 0 2px #fff;*/
}



.button_hit_area{
	position:absolute;
	width:130%;
	height:130%;
	top:-15%;
	left:-15%;
}

.social_hit_area{
	position:absolute;
	width:170%;
	height:100%;
	top:0;
	left:-35%;
}





.half_div_columns{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	padding-top:10%;
	width:100%;
	
}

.column_content_left{
	width:50%;
	padding-right:80px;
	margin-right:-40px;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:justify;
	    -ms-flex-pack:justify;
	        justify-content:space-between;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	    -ms-flex-direction:column;
	        flex-direction:column;
}
.column_content_right{
	width:50%;
	padding-left:80px;
	margin-left:-40px;
}
.column_content_middle{
	width:80px;
}
.countdown_date_item{
	display:block;
	text-align:center;
	margin-bottom:30px;
	}
	.date_item_value{
		color:#ed385e;
		font-size:60px;
		line-height:75%;
		font-weight: 400;
		margin-bottom:5px;
	}

	.date_item_label{
		color:#fff;
		font-size:15px;
		text-transform:uppercase;
		line-height:100%;
	}
	.less_than_a_day .countdown_date_item_days{
		visibility:hidden;
		opacity:0;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	}
	
	

.block_button{
	width:50px;
	height:50px;
	line-height:50px;
	position:relative;
	text-align:center;
	margin:auto;
	cursor:pointer;
	display:inline-block;

	}
	.block_button_bg{
		width:100%;
		height:100%;
		left:0;
		top:0;
		position:absolute;
		transition:all .3s;
		
		box-shadow:inset 0 0 0 25px #732973;
		border-radius:50%;
	}
	.block_button_icon{
		position:relative;
		color:#fff;
		font-size:22px;
		-webkit-transition: all .3s;
		transition:all .3s;
	}
	.block_button_icon .fa-play{
		padding-left:10%;
	}
	.block_button:hover .block_button_bg{
		box-shadow:inset 0 0 0 2px #732973;
		width:110%;
		height:110%;
		left:-5%;
		top:-5%;
	}
	.block_button:hover .block_button_icon{
		text-shadow:1px 1px 3px rgba(0,0,0,.5);
	}
.play_button_block{
	
	text-align:center;
}
.play_button{
	margin:0 auto 10px;
}
.play_button_label{
	font-size:12px;
	text-transform:uppercase;
	line-height:100%;
	text-align:center;
	font-family:gridnik;
	color:#fff;
}

.vyral_logo{
	max-width:270px;
	margin-left:-60px;
	position:relative;
	
}
.vyral_logo svg{
	width:100%;
}

	.logo_white{fill:#fff;}
	.logo_color{fill:#ed385e;}

	
	
.home_copy{
	max-width:560px;
	margin:150px auto 30px;
	position:relative;
}
	
	
.home_copy_text_block{
	max-width:550px;
	
}
.home_copy_text_block p{
	line-height:150%;
	
}

.home_copy_title_block{

	}
	.home_copy_title_block h3{
		font-size:27px;
		text-align:center;
	}
	.home_copy_title_block_line{
		width:65%;
		max-width:370px;
		height:1px;
		position:absolute;
		background:#ed385e;
		}
		.home_copy_title_block_line_top{
			left:20%;
			top:0;
		}
		.home_copy_title_block_line_bottom{
			bottom:0;
			left:-5%;
		}
.background_block{
	z-index:0;
}
.home_background_images,
.home_background_image,
.background_block{
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
}
.home_background_image{
	z-index:0;
}
.home_background_image.current_bgslide{
	z-index:1;
}

.background_light_filter_corners{
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
background: -webkit-linear-gradient(-45deg, rgba(237,56,94,0.4) 0%,rgba(237,56,94,0) 15%,rgba(237,56,94,0) 78%,rgba(237,56,94,0.4) 100%);
background: -webkit-linear-gradient(315deg, rgba(237,56,94,0.4) 0%,rgba(237,56,94,0) 15%,rgba(237,56,94,0) 78%,rgba(237,56,94,0.4) 100%);
background: linear-gradient(135deg, rgba(237,56,94,0.4) 0%,rgba(237,56,94,0) 15%,rgba(237,56,94,0) 78%,rgba(237,56,94,0.4) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66ed385e', endColorstr='#66ed385e',GradientType=1 );
	z-index:5;
}



.home_background_image_glitch{
	width:50%;
	top:50%;
	right:50%;
	height:100px;
	overflow:hidden;
	position:absolute;
	display:none;
}


.home_background_image_left_copy,
.home_background_image_left{
	width:50%;
	height:100%;
	position:absolute;
	right:50%;
	top:0;
	background:url('../images/woman_photo_left.jpg') right center / cover;
}
.home_background_image_left_copy{
	width:100%;
	right:0;
}
.home_background_image_right{
	width:calc(50% + 1px);
	height:100%;
	position:absolute;
	left:50%;
	top:0;
	background:url('../images/woman_photo_right.jpg') left center / cover;
	margin-left:-1px;
}



.home_background_image_left_pieces{
	width:100%;
	top:0%;
	right:50%;
	height:100%;
	position:absolute;
	}
	.home_background_image_left_piece{
		width:100%;
		height:10%;
		position:absolute;
		right:0;
		top:0;
		overflow:hidden;
	}
	.home_background_image_left_piece_img{
		width:100%;
		height:100%;
		position:absolute;
		right:0;
		top:0;
		background:url('../images/city_photo_left.jpg') right center / cover;
	}
	
	
			
		.home_background_image_1 .home_background_image_left_piece_img,
		.home_background_image_1 .home_background_image_left_copy,
		.home_background_image_1 .home_background_image_left{
			background-image:url('../images/woman_photo_left.jpg');
		}
		.home_background_image_1 .home_background_image_right{
			background-image:url('../images/woman_photo_right.jpg');
		}
		
		.home_background_image_2 .home_background_image_left_piece_img,
		.home_background_image_2 .home_background_image_left_copy,
		.home_background_image_2 .home_background_image_left{
			background-image:url('../images/disrupt_1a.jpg');
		}
		.home_background_image_2 .home_background_image_right{
			background-image:url('../images/disrupt_1b.jpg');
		}
		
		.home_background_image_3 .home_background_image_left_piece_img,
		.home_background_image_3 .home_background_image_left_copy,
		.home_background_image_3 .home_background_image_left{
			background-image:url('../images/disrupt_2a.jpg');
		}
		.home_background_image_3 .home_background_image_right{
			background-image:url('../images/disrupt_2b.jpg');
		}
		
		.home_background_image_4 .home_background_image_left_piece_img,
		.home_background_image_4 .home_background_image_left_copy,
		.home_background_image_4 .home_background_image_left{
			background-image:url('../images/disrupt_3a.jpg');
		}
		.home_background_image_4 .home_background_image_right{
			background-image:url('../images/disrupt_3b.jpg');
		}



.background_animated_lines{
	width:50%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
}
.background_animated_line{
	width:100%;
	height:1px;
	position:absolute;
	right:0;
	top:50%;
	background:#fff;
	border-radius:10px;
}




.signup_lightbox,
.video_lightbox{
	position:fixed;
	z-index:200;
	left:0;
	top:0;
	width:100%;
	}
	.video_player_bg{
		background-color:rgba(25,25,25,.94);
	}
	.signup_lightbox .l-section-h,
	.video_lightbox .l-section-h{
		/** check responsive here for video size: **/
		max-width:1000px;
	}

	.video_button_back_block{
		position:absolute;
		right:-50px;
		margin-top:7px;
	}
	.block_button_icon .icon_label{
		font-size:12px;
		text-transform:uppercase;
		font-weight:400;
	}
	.video_button_back_block .block_button{
		width:34px;
		height:34px;
		line-height:30px;
		margin:auto;
	}


/*** preloader ***/

#vyral_logo_svg_loading{
	max-width:270px;
}



/*** signup ***/

.signup_form_block{
	max-width:600px;
	margin:auto;
}
.signup_fields{
	max-width:240px;
	margin:0 auto 60px;
}

.signup_form_block .g-preloader{
	color:#fff;
	width: 12.8px;
	width:.8rem;
	height: 12.8px;
	height:.8rem;
	margin-right:5px;
	vertical-align:baseline;
	display:none;
}
.signup_form_block.loading .g-preloader{
	display:inline-block;
}
.signup_form_block .w-btn{
	font-size:18px;
	width:100%;
	line-height:2.5;
}
input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="tel"], input[type="number"], input[type="date"], input[type="search"], input[type="range"], textarea, select {
    padding: 0 12.8px;
    padding: 0 .8rem;
    width: 100%;
    border-radius: 0;
    box-shadow: 0 0 0 1px #ed385e inset;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
	background:transparent;
}


input:focus, textarea:focus, select:focus {
    box-shadow: 0 0 0 2px #ed385e inset;
}

p.input_field_p{
	margin-bottom:20px;
}
.form_label{
	font-size:14px;
	text-transform:uppercase;
	font-weight:400;
}
.signup_form_block .home_copy_title_block h3{
	font-size:22px;
	text-align:center;
}
.signup_form_block .home_copy_title_block_line_top{
	left:30%;
}
.signup_form_block .home_copy_title_block_line_bottom{
	left:0;
}
.signup_form_block .home_copy_title_block{
	margin-bottom:50px;
}

p.signup_no_spam{
	text-align:center;
	font-size:14px;
}

.logo_icon_block{
	text-align:center;
	margin-bottom:60px;
}
#logo_icon{
	max-width:76px;
	margin:auto;
}

.button_back_block{
	position:absolute;
	top:30px;
	right:15px;
}
.button_back {
	width:38px;
	height:38px;
}
.button_back .block_button_bg{
	/*background:transparent;
	box-shadow:inset 0 0 0 1px #ed385e;*/
}
.button_back:hover .block_button_bg{
	/*background:#ed385e;
	box-shadow:inset 0 0 0 30px #ed385e;*/
}

.icon_ex{
	width:50%;
	height:1px;
	position:absolute;
	left:25%;
	top:50%;
	background:#fff;
	-webkit-transform:rotate(45deg);
	        transform:rotate(45deg);
}
.icon_ex:after{
	width:100%;
	height:100%;
	-webkit-transform:rotate(90deg);
	        transform:rotate(90deg);
	content:"";
	position:absolute;
	left:0;
	top:0;
	background:#fff;
}












/** home bg **/

.vault_sec_bg{
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;

}
.vault_sec_bg_basegradient{
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
	background: url(../images/fondo_home.jpg) no-repeat center center;
	background-size:cover;
}
.vault_sec_bg_basegradient_what{
	background-image: url(../images/what_is_vault0x.jpg);
	background-attachment: fixed;
}
.vault_sec_bg_basegradient_linear{
	background-image: url(../images/background_gradient.jpg);
}

.vault_sec_bg_lines{
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
	overflow:hidden;
	}
	.vault_sec_bg_lines_holder{
		position:absolute;
		width:2240px;
		height:200%;
		left:50%;
		top:-50%;
		white-space:nowrap;
		margin-left:-1120px;
	}
	.vault_sec_bg_line{
		position:relative;
		height:100%;
		width:1px;
		transform:rotate(-35deg);
		background:#050505;
		margin-right:368px;
		display:inline-block;
		opacity:.25;
	}
	.vault_sec_bg_lines_up .vault_sec_bg_line{
		transform:rotate(35deg);
	}

	.vault_sec_bg_line_innercolor{
		position:absolute;
		height:0%;
		width:100%;
		left:0;
		top:0;
		background:#fff;
		opacity:.4;
	}

	
.vault_bg_floating_items{
		position:absolute;
		height:100%;
		width:100%;
		left:0;
		top:0;
		overflow:hidden;
}	
.bg_floating_image{
	position:absolute;
	top:0;
	right:0;
	transition:all 2s;
	transition-delay:.3s;
}
section:not(.current_section) .bg_floating_image{
	transition-delay:0s;
	transition:all .7s;
	opacity:0;
	visibility:hidden;
}
.bg_floating_image img{
	display:block;
}
.wristband_what_1{
	max-width:645px;
	width:40%;
	right:18%;
}
.wristband_what_2{
	top:auto;
	bottom:0;
	max-width:1170px;
	width:70%;
	right:12%;
	transition-delay:.5s;
	}
	.wristband_what_2 .bg_flating_image_inner{
		margin-bottom:-10%;
	}

	section:not(.current_section) .wristband_what_1{
		right:18%;
		top:-30%;
		
	}
	section:not(.current_section) .wristband_what_2{
		right:3%;
		bottom:-20%;
	}
	
	
	
.wristband_why_1{
	max-width:485px;
	width:29%;
	right:18%;
	transition-delay:.6s;
}
.wristband_why_2{
	top:auto;
	bottom:0;
	max-width:683px;
	width:41%;
	
	}
	section:not(.current_section) .wristband_why_1{
		right:25%;
		top:-30%;
	}
	section:not(.current_section) .wristband_why_2{
		right:-5%;
		bottom:-30%;
	}

/** home watch **/

/* sgv definitions */
		.vleft0{filter:url(#Adobe_OpacityMaskFilter1);}
		.vleft1{fill:url(#vleft_3_);}
		.vleft2{mask:url(#vleft_12_);}
		.vleft3{opacity:0.5;}
		.vleft4{fill:url(#vleft_4_);}
		.vleft5{opacity:0.2;fill:none;stroke:#222222;stroke-miterlimit:10;enable-background:new;}

		.vcent0{fill:#939393;}
		.vcent1{fill:#3B3B3B;}
		.vcent2{fill:url(#vcenter_3_);}
		.vcent3{fill:none;stroke:#222222;stroke-miterlimit:10;}

		.vright0{filter:url(#Adobe_OpacityMaskFilter2);}
		.vright1{fill:url(#vright_3_);}
		.vright2{mask:url(#vright_18_);}
		.vright3{opacity:0.5;}
		.vright4{fill:url(#vright_4_);}
		.vright5{opacity:0.2;fill:none;stroke:#222222;stroke-miterlimit:10;enable-background:new    ;}
		.vright6{opacity:0.4;}
		.vright7{fill:#222222;}
		.vright8{clip-path:url(#vright_2_);fill:#222222;}
		.vright9{clip-path:url(#vright_4_);fill:#222222;}
		.vright10{clip-path:url(#vright_6_);fill:#222222;}
		.vright11{clip-path:url(#vright_8_);fill:#222222;}
		.vright12{clip-path:url(#vright_10_);fill:#222222;}
		.vright13{clip-path:url(#vright_12_);fill:#222222;}
		.vright14{clip-path:url(#vright_14_);fill:#222222;}
		.vright15{clip-path:url(#vright_16_);fill:#222222;}
		.vright16{clip-path:url(#vright_18_);fill:#222222;}


		.wristband_text{
			fill:#ffffff;
			color:#ffffff;
			font-family:gridnik;
			font-weigth:600;
			font-size:66px;
		}
		.wristband_text_label{
			fill:#ffffff;
			color:#ffffff;
			font-family:gridnik;font-weight:400;
			font-size:14.3px;
			text-transform:uppercase;
		}

		.lock_icon_path{fill:#FFFFFF;}

		.wweather0{fill:#863E85;}
		.wweather1{fill:#FFFFFF;}
		.wweather2{font-family:gridnik;font-weight:600}
		.wweather3{font-size:28.6285px;}
		.wweather4{font-size:20.9942px;}
		.wweather5{fill:none;stroke:#BFBFBF;stroke-miterlimit:10;}
		.wweather6{fill:none;stroke:#BFBFBF;stroke-miterlimit:10;stroke-dasharray:3.9273,3.9273;}


		
		
	.secspin0{fill:none;stroke:#484848;stroke-width:24;stroke-miterlimit:10;stroke-dasharray:1.005,24.1207;transform-origin:50% 50%; transform:rotate(13deg);}
	.secspin1{fill:none;stroke:#D5D5D5;stroke-width:36;stroke-miterlimit:10;stroke-dasharray:1.0317,225.1;transform-origin:50% 50%; transform:rotate(13deg);}
	.secspin2{fill:none;stroke:#545454;stroke-miterlimit:10;}
	.secspin3{fill:#1A1A1A;}
	.secspin4{fill:none;stroke:#1A1A1A;stroke-width:5;stroke-miterlimit:10;stroke-dasharray:1.9874,9.9368;}
	.secspin5{fill:#919191;}
	.secspin6{font-family:gridnik;}
	.secspin7{font-size:19.5726px;}
		
	.wristband_block{
		position:relative;
		max-width:940px;
		padding:150px 0;
		margin:0 auto -150px;
	}
	.securityspin_block{
		width:550px;
		height:550px;
		margin-left:-275px;
		margin-top:-280px;
		position:absolute;
		left:50%;
		top:50%;
		line-height:100%;
		
	}
	.securityspin_block svg{
		width:100%;
	}
	svg#vault_watch_svg{
		width:100%;
	}
	.wristband_spinner_block{
		position:relative;
		margin-top: 3%;
	}
	.securityspin_block_holder{
		position:absolute;
		width:100%;
		height:100%;
	}
	
	
	
	
	.wristband_proportion_holder{
		width:440px;
		height:260px;
		margin:auto;
		position:relative;
	}
	.wristband_right,
	.wristband_left{
		width:100%;
		height:100%;
		background:url(../images/wristband_left.png) no-repeat center right;
		background-size:contain;
		position:absolute;
		top:0;
		left:-87%;
	}
	.wristband_right{
		background-image:url(../images/wristband_right.png);
		background-position:center right;
		left:87%;
	}
	.wristband_center{
		width:100%;
		height:100%;
		position:absolute;
		left:0;
		top:0;
		cursor:pointer;
	}
	.wristband_center_button{
		width:11%;
		height:4%;
		border-radius:3px;
		background:#828282;
		position:absolute;
		right:8%;
		top:4.5%;
	}
	.wristband_center_mainblock{
		position:absolute;
		width:96.6%;
		height:85.8%;
		left:1.7%;
		top:6%;
		background:#3b3b3b;
		border-radius:10px;
		box-shadow:0 5px 10px 5px rgba(0,0,0,.6);
	}
	.wristband_center_innerblock{
		position:absolute;
		width:96%;
		height:85.2%;
		top:7.4%;
		left:2%;
		border-radius:10px;
		overflow:hidden;
		background:#b1b1b1;
		background: rgb(43,43,43);
		background: -moz-radial-gradient(center, ellipse cover, rgba(43,43,43,1) 0%, rgba(31,31,31,1) 100%);
		background: -webkit-radial-gradient(center, ellipse cover, rgba(43,43,43,1) 0%,rgba(31,31,31,1) 100%);
		background: radial-gradient(ellipse at center, rgba(43,43,43,1) 0%,rgba(31,31,31,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2b2b', endColorstr='#1f1f1f',GradientType=1 );
	}
	.wristband_center_bg{
		width:100%;
		height:100%;
		position:absolute;
		left:0;
		top:0;
		opacity:.05;
		transition:all .5s;
		}
		.wristband_center_bg_video{
			width:100%;
			height:100%;
			position:absolute;
			left:0;
			top:0;
			background:url(../images/preview_video.jpg) no-repeat top center;
			background-size:cover;
		}
		.wristband_center_bg_shade{
			width:100%;
			height:100%;
			position:absolute;
			left:0;
			top:0;
			background: -moz-linear-gradient(top, rgba(31,31,31,0.9) 0%, rgba(31,31,31,0) 100%);
			background: -webkit-linear-gradient(top, rgba(31,31,31,0.9) 0%,rgba(31,31,31,0) 100%);
			background: linear-gradient(to bottom, rgba(31,31,31,0.9) 0%,rgba(31,31,31,0) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e61f1f1f', endColorstr='#001f1f1f',GradientType=0 );
			transition:all .5s;
			
			opacity:0;
		}
		
		
	.wristband_center_content{
		position:absolute;
		width:100%;
		height:100%;
		left:0;
		top:0;
	}
	
	.wristband_countdown svg{
		width:100%;
	}
	.wristband_countdown{
		position:absolute;
		width:100%;
		left:0;
		top:40%;
		transition:all .3s;
	}
	.wristband_center_content .play_button_block_video{
		position:absolute;
		top:45%;
		left:50%;
		width: 100px;
		margin-left: -50px;
		visibility:hidden;
		opacity:0;
		transform:scale(0);
		transition:all .3s;
	}
	.wristband_center_content .play_button_block_video .play_button_label{
		font-size:15px;
	}
	.wristband_center_content .play_button_block_video_alt{
		position:absolute;
		top:5%;
		left:4%;
		width: auto;
		margin-left: 0;
		transition:all .3s;
		}
		.wristband_center_content .play_button_block_video_alt .block_button{
			width:32px;
			height:32px;
			line-height:32px;
			margin:0;
			display:inline-block;
			font-size:10px;
		}
		.wristband_center_content .play_button_block_video_alt .block_button_icon{
			font-size:14px;
		}
		.wristband_center_content .play_button_block_video_alt .play_button_label{
			display:inline-block;
			font-size:15px;
			opacity:.5;
			margin-left:3px;
		}
		
		
	#lock_icon_svg{
		width:19px;
		position:absolute;
		right: 7%;
		top: 6%;
		transition:all .3s;
	}	
	.wristband_center:hover .wristband_center_bg_shade,
	.wristband_center.show_video .wristband_center_bg_shade{
		opacity:1;
		top:0;
		height:35%;
	}
		
	.wristband_center:hover .wristband_center_bg,
	.wristband_center.show_video .wristband_center_bg{
		opacity:.6;
		
	}
	
	.wristband_center:hover .wristband_countdown,
	.wristband_center.show_video .wristband_countdown{
		position:absolute;
		width:45%;
		left:0;
		top:5%;
	}
	.wristband_center:hover .wristband_center_content .play_button_block_video,
	.wristband_center.show_video .wristband_center_content .play_button_block_video{
		opacity:1;
		visibility:visible;
		transform:scale(1);
	}
	.wristband_center:hover .wristband_center_content .play_button_block_video_alt,
	.wristband_center.show_video .wristband_center_content .play_button_block_video_alt{
		opacity:0;
		visibility:hidden;
		top:-15%;
	}
	.wristband_center:hover #lock_icon_svg,
	.wristband_center.show_video #lock_icon_svg{
		right:2%;
	}
	

	
	
	
/**

portfolio_control_step

**/

.site_portfolio_controls{
	position:fixed;
	left:0;
	top:10%;
	z-index:90;
	font-family:gridnik;
	color:#fff;
}

.portfolio_controls_hitarea{
	position:absolute;
	width:120px;
	height:100%;
	left:-40px;
	top:0;
	transition:all .3s;
}
.site_portfolio_controls:hover .portfolio_controls_hitarea{
	width:140px;
}
.portfolio_control_arrow{
	display:none;
}
.portfolio_control_step{
	height:30px;
	width:10px;
	margin-bottom:10px;
	position:relative;
	cursor:pointer;
}
.portfolio_control_step:not(.hiddenStep):last-child{
	margin-bottom:0px;
}
.menu_rect_item{
	width:8px;
	height:2px;
	background:#fff;
	transition:all .4s;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-4px;
	margin-top:-1px;
}
.controls_light_color_half .menu_rect_item,
.controls_light_color .menu_rect_item{
	background-color:#fff;
}

.portfolio_control_step .menu_rect_item{

}
.portfolio_control_step.current .menu_rect_item{
	height:4px;
	margin-top:-2px;
	width:21px;
}

.portfolio_control_step_label_alt,
.portfolio_control_step_label{
	position:absolute;
	width:70px;
	right:40px;
	/*margin-top:-5px;*/
	line-height:100%;
	color:#fff;
	font-size:11px;
	font-weight:400;
	text-transform:uppercase;
	transform-origin:100% 50%;
	text-align:right;
	font-size:11px;
}
.portfolio_control_step_label_alt{
	right:auto;
	left:105%;
	left:calc(100% + 10px);
	transform-origin:0% 50%;
	text-align:left;
	font-size:12px;
}
.portfolio_control_step_index{
	font-size:18px;
	position:absolute;
	right:25px;
	font-weight:bold;
	line-height:100%;
	margin-top:-9px;
	color:#fff;
}
.portfolio_control_step_icon{
	position:absolute;
	right:5px;
	width:18px;
}
.controls_light_color_half .portfolio_control_step_label,
.controls_light_color .portfolio_control_step_label{
	color:#fff;
}
.portfolio_control_step_label_hitarea{
	position:absolute;
	width:100%;
	height:200%;
	top:-50%;
	left:0;
}

.portfolio_control_step.current .portfolio_control_step_label{

}
.portfolio_control_step:hover .portfolio_control_step_label{

}
.portfolio_control_step.hiddenStep{
	display:none;
	margin:0;
}


.nav_main_circle{
	width:840px;
	height:840px;
	position:relative;
	margin-left:-780px;
	transition:all .5s;
}

.nav_main_circle_solid{
	width:100%;
	height:100%;
	background:url(../images/texture_bg.png) repeat right center #1c1c1c;
	position:absolute;
	left:0;
	top:0;
	border-radius:50%;
}
.dummy_control_steps,
.portfolio_control_steps{
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
}
.portfolio_control_step{
	position:absolute;
	width:50%;
	height:0px;
	left:50%;
	top:50%;
	transform-origin:0 50%;
}

.dummy_control_step{
	opacity:.2;
	cursor:default;
}



.portfolio_control_step_index,
.portfolio_control_step_label_alt,
.portfolio_control_step_label{
	visibility:hidden;
	opacity:0;
	transition:opacity .5s, visibility .5s;
}
.portfolio_control_step.current .portfolio_control_step_index,
.portfolio_control_step.current .portfolio_control_step_label_alt{
	visibility:visible;
	opacity:1;
}

.site_portfolio_controls.opened{
	
	}
	.site_portfolio_controls.opened .nav_main_circle{
		width:1340px;
		height:1340px;
		position:relative;
		margin-left:-1185px;
		margin-top:-250px;
	}
	.site_portfolio_controls.opened .portfolio_control_step_label_alt{
		visibility:hidden;
		opacity:0;
	}
	.site_portfolio_controls.opened .portfolio_control_step_index{
		visibility:visible;
		opacity:1;
	}
	.site_portfolio_controls.opened .portfolio_control_step_label{
		visibility:visible;
		opacity:.4;
	}
	.site_portfolio_controls.opened .portfolio_control_step.current .portfolio_control_step_label{
		opacity:1;
	}

	.site_portfolio_controls.opened .portfolio_control_step.current .menu_rect_item{
		width:15px;
		margin-left:-7px;
	}


	
	
	
/***

	quotes and why

***/
.quote_content_block{
	max-width:375px;
	width:70%;
	font-size:17px;
	color:#b3b3b3;
}	
.quote_content_block p{
	line-height:150%;
	margin-bottom:1.5em;
}	
	
.quote_content_block h1{
	letter-spacing: 0.065em;
	line-height:100%;
	font-size:57px;
}	
.title_sep {
	margin:2em 0;
	}
	.title_sep span{
		height:5px;
		background:#732973;
		max-width:105px;
		width:40%;
		display:block;
	}	
	
	
	
	
/***
	Vertical Nav Content Section
	(why Vault)

***/
.vertical_scrolling_content{
	display:flex;
	align-items:center;
}


.vert_nav{
	position:relative;
	padding:100px 0 60px;
	margin-left:100px;
	text-transform:uppercase;
	
}
.vert_nav_vline{
	width:2px;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background:#fff;
	
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 10%, rgba(255,255,255,1) 90%, rgba(255,255,255,0) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 10%,rgba(255,255,255,1) 90%,rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 10%,rgba(255,255,255,1) 90%,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 );
}

.vert_nav_items{
	display:flex;
	flex-direction:column;
	
}

.vert_nav_item{
		display:flex;
		align-items:flex-end;
		font-family:gridnik;
		font-size:20px;
		padding:10px 0;
		margin: 0 0 20px;
		cursor:pointer;
		position:relative;
	}
	.vert_nav_label{
		color:#4d4d4d;
	}
	.vert_nav_number{
		font-size:1.2em;
		color:#666666;
		width:30px;
		text-align:center;
	}
	.vert_nav_line{
		width:7px;
		height:2px;
		margin-right:20px;
		position:relative;
		margin-bottom:7px;
		
		}
		.vert_inner_line{
			position:absolute;
			width:100%;
			height:100%;
			left:0;
			top:0;
			background:#fff;
			transition:all .3s;
		}
	.vert_nav_item.current_item .vert_inner_line{
		width:90px;
		height:150%;
		top:-25%;
		left:-70px;
	}
	.vert_nav_label,
	.vert_nav_number{
		transition:all .3s;
	}
	.vert_nav_item.current_item .vert_nav_label,
	.vert_nav_item.current_item .vert_nav_number{
		color:#fff;
	}

.vertical_scrolling_content_list{
	list-style:none;
	margin:0;
	padding:0;
	min-width:400px;
	position:relative;
}
.vertical_scrolling_content_list .quote_content_block{
	width:100%;
	padding-top:15%;
}	
ul.vertical_scrolling_content_list li{
	width:100%;
	position:relative;
	margin:0;
}	
ul.vertical_scrolling_content_list li p:lastChild{
	margin:0;
}	

	
	

.arrowcontrol{
	width:30px;
	height:30px;
	background:#732973;
	box-shadow:inset 0 0 0 15px #732973;
	position:relative;
	-webkit-transform:rotate(45deg);
	        transform:rotate(45deg);
	border-radius:50%;
	cursor:pointer;
	-webkit-transition: all .3s;
	transition:all .3s;
	display:inline-block;
}
.arrowcontrol_arrow{
	width:40%;
	height:40%;
	border:solid 1px #fff;
	left:30%;
	top:30%;
	position:absolute;
	transition:all .3s;
}
.no-touch .arrowcontrol:hover{
	background:#fff;
	box-shadow:inset 0 0 0 0px #732973;
}
.no-touch .arrowcontrol:hover .arrowcontrol_arrow{
	border-color:#732973;
}
.arrowcontrol.arrowcontrol_right .arrowcontrol_arrow{
	border-bottom:none;
	border-left:none;
}
.arrowcontrol.arrowcontrol_left .arrowcontrol_arrow{
	border-top:none;
	border-right:none;
}

.vert_nav_arrows{
	margin-left:-40px;
	position:absolute;
	top:10px;
}	
.vert_nav_arrows .arrowcontrol{
	margin-right:20px;
	-webkit-transform:rotate(135deg);
	        transform:rotate(135deg);
}	
	













/*******

ROAD MAP

*******/





	.roadmap_item{
		position:relative;
		width:250px;
		white-space:normal;
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		-webkit-box-orient:vertical;
		-webkit-box-direction:normal;
			-ms-flex-direction:column;
				flex-direction:column;
		padding:130px 0;
		color:#fff;
	}
	.number_icon{
		width:50px;
		height:50px;
		line-height:65px;
		text-align:center;
		position:relative;
		margin:auto;
	}
	.number_icon_bg{
		width:100%;
		height:100%;
		box-shadow:inset 0 0 0 1px #fff;
		-webkit-transform:rotate(45deg);
				transform:rotate(45deg);
		position:absolute;
		left:0;
		top:0;
		display:none;
	}

	.number_icon_label{
		color:#fff;
		text-align:center;
		font-size:60px;
		font-weight:600;
		font-family:gridnik;
		
	}

	.roadmap_lines{
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		-webkit-box-orient:vertical;
		-webkit-box-direction:normal;
			-ms-flex-direction:column;
				flex-direction:column;
		width:100%;
		padding:20px 0;
	}
	.roadmap_vline{
		height:20px;
		width:2px;
		margin:auto;
		position:relative;
		-webkit-transform-origin:0 100%;
				transform-origin:0 100%;
	}
	.roadmap_linedot{
		height:7px;
		width:7px;
		position:absolute;
		left:50%;
		top:0;
		margin-left:-3px;
		background:#fff;
		-webkit-transform:rotate(45deg);
				transform:rotate(45deg);
				display:none;
	}
	.roadmap_vline-h{
		width:100%;

	}
	.roadmap_hline{
		width:100%;
		left:0;
		height:2px;
		position:relative;
	}
	ul.roadmap_list li:first-child .roadmap_hline{
		/*width:50%;
		left:50%;
		width:calc(50% + 1px);*/
	}
	ul.roadmap_list li:last-child .roadmap_hline{
		/*width:50%;
		width:calc(50% + 1px);*/
	}
	.line_color_fill{
		width:100%;
		height:100%;
		position:absolute;
		left:0;
		top:0;
		background:#fff;
		-webkit-transition: all .3s;
		transition:all .3s;
	}


	ul.roadmap_list{
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		list-style:none;
		margin:0;
		white-space:nowrap;
	}

	ul.roadmap_list li{
	}
	.roadmap_copy{
		text-align:center;
		padding: 0 10%;
	}
	.roadmap_copy p{
		font-size:14px;
		line-height:140%;
	}
	.roadmap_copy_clonespacer,
	.roadmap_copy{
		min-height: 160px;
		display:flex;
		width:100%;
		flex-direction:column;
		justify-content:flex-end;
	}
	ul.roadmap_list li:nth-child(2n) .roadmap_copy{
		justify-content:flex-start;
	}
	
	.roadmap_topnumber{
		margin-bottom:70px;
	}
	.roadmap_whiteseparator{
		position:absolute;
		width:1px;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
		background:#000;
		right:0;
		height:100%;
		top:0;
	}
	ul.roadmap_list li:last-child .roadmap_whiteseparator{
		display:none;
	}
	
	ul.roadmap_list li:nth-child(2n) .roadmap_copy_clonespacer{
		-webkit-box-ordinal-group:2;
			-ms-flex-order:1;
				order:1;
	}
	ul.roadmap_list li:nth-child(2n) .roadmap_lines{
		-webkit-box-ordinal-group:3;
			-ms-flex-order:2;
				order:2;
	}
	ul.roadmap_list li:nth-child(2n) .roadmap_copy{
		-webkit-box-ordinal-group:4;
			-ms-flex-order:3;
				order:3;
	}

	ul.roadmap_list li:nth-child(2n) .roadmap_lines{
		-webkit-box-orient:vertical;
		-webkit-box-direction:reverse;
			-ms-flex-direction:column-reverse;
				flex-direction:column-reverse;
	}

	ul.roadmap_list li:nth-child(2n) .roadmap_linedot{
		top:auto;
		bottom:0;
	}
	ul.roadmap_list li:nth-child(2n) .roadmap_vline {

		-webkit-transform-origin:0 0;

				transform-origin:0 0;
	}



	.roadmap_list_holder{
		position:relative;
		/*margin-left: 100px;*/
	}
	.roadmap_list_title{
		position:absolute;
		top:180px;
		left:185px;
		-webkit-transition: all .5s;
		transition:all .5s;
	}
	.hide_roadmap_title .roadmap_list_title{
		visibility:hidden;
		opacity:0;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	}
	.roadmap_list_maskblock{
		overflow:hidden;
		width:100%;
		padding:20px 0;
	}


	.roadmap_whiteseparator,
	.roadmap_hline,
	.roadmap_topnumber,
	.roadmap_copy,
	.roadmap_vline{
		-webkit-transition: all .5s;
		transition:all .5s;
	}
	.item_ofuscated .roadmap_whiteseparator,
	.item_ofuscated .roadmap_topnumber,
	.item_ofuscated .roadmap_copy{
		visibility:hidden;
		opacity:0;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		-webkit-transform:scale(0);
				transform:scale(0);
	}

	.item_ofuscated .roadmap_vline {
		-webkit-transform:scale(0);
				transform:scale(0);
	}

	.item_ofuscated .roadmap_hline .line_color_fill{
		opacity:0;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	}
	.item_ofuscated_border .roadmap_hline{
		width:50%;
		left:50%;
	}
	
	ul.roadmap_list li:first-child .roadmap_hline .line_color_fill,
	.item_ofuscated_border .roadmap_hline .line_color_fill{
		opacity:1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
		background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
	}
	

	ul.roadmap_list li:last-child .roadmap_hline .line_color_fill{
		opacity:1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
		background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
	}
	.item_ofuscated_border_end .roadmap_hline .line_color_fill{
		opacity:1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 50%);
		background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 50%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
	}



	.roadmap_arrowcontrols{
		position:absolute;
		right:30px;
		top:50%;
		top:calc(50% - 60px);
		z-index:10;
	}
	.roadmap_arrowcontrols .arrowcontrol{
		display:block;
		margin: 18px auto;
	}


	.roadmap_lines{
		position:relative;
	}
	.roadmap_topnumber{
		position:absolute;
		width:100%;
		top:50px;
		margin-bottom:0;
	}
	ul.roadmap_list li:nth-child(2n) .roadmap_topnumber{
		top:auto;
		bottom:55px;
	}


	.road_map_title {
		text-align:left;
		
		
	}
	.road_map_title h2{
		font-size:57px;
		line-height:100%;
		margin-top:-30px;
		
	}
	.road_map_title .title_sep{
		margin:20px 0 0;
		
	}
	ul.roadmap_list li:first-child .roadmap_whiteseparator{
		display:none;
	}














	
	
@media (max-width: 1500px) {
	.l-section-h{
		max-width:1000px;
	}
	.wristband_block{
		max-width:800px;
	}
	.securityspin_block {
		width: 500px;
		height: 500px;
		margin-left: -250px;
		margin-top: -255px;
	}
	
	.quote_content_block h1 {
		font-size: 42px;
	}
	.quote_content_block {
		font-size: 15px;
	}
	.road_map_title h2{
		font-size: 40px;
	}
	
	
	
	.vert_nav_item {
		font-size: 16px;
		padding: 5px 0;
		margin: 0 0 15px;
	}
	
	
	.number_icon_label{
		font-size:50px;
	}

}
@media (max-width: 1400px) {


	.button_back {
		width: 30px;
		height: 30px;
	}
	.signup_lightbox .l-section-h, .video_lightbox .l-section-h {
		max-width: 900px;
	}
	.main_menu_block{
		padding-top:200px;
	}
	
	.wristband_spinner_block {
		margin-top: 5%;
	}
	.wristband_block{
		max-width:600px;
		padding:120px 0;
		margin-bottom:-125px;
	}

	.securityspin_block {
		width: 400px;
		height: 400px;
		margin-left: -200px;
		margin-top: -205px;
	}
	.home_copy{
		margin-top:80px;
	}
	
	
	
	
	.vault_sec_bg_line{
		margin-right:300px;
	}
	.vault_sec_bg_lines_holder{
		width:1826px;
		margin-left:-913px;
	}
	
	
	
	.wristband_proportion_holder {
		width: 352px;
		height: 208px;
		
	}
	.wristband_center_content .play_button_block_video .play_button_label {
		font-size: 12px;
	}
	
	.site_portfolio_controls{
		top:-12%;
	}
	
	
	
	.roadmap_item{
		padding:50px 0;
	}
	
}

@media (max-width: 1200px) {
	.l-section-h {
		max-width: 700px;
	}
	.wristband_what_1{
		width:30%;
	}
	.wristband_what_2{
		width:60%;
	}
	
	.wristband_why_2 {
		width: 28%;
	}
	.wristband_why_1 {
		width: 20%;
	}
	
	
	.title_sep {
    margin: .5em 0;
	}
	.road_map_title .title_sep{
		margin-top:10px;
	}
}
.column_content_left .play_button_block{
	display:none;
}
@media (max-width: 900px) {
	.main_menu_block{
		max-width:100%;
		padding-top:300px;
	}
	ul.main_nav_list{
		font-size: 22px;
		max-width: 500px;
		
	}
	.site_portfolio_controls {
		top: 5%;
	}
	.l-section-h {
		max-width: 450px;
	}
	.vertical_scrolling_content_list{
		min-width:280px;
	}
	.vert_nav_item {
		font-size: 14px;
		padding: 5px 0;
		margin: 0 0 7px;
	}
}
@media (max-width: 767px) {
	
	.l-section-h {
		max-width: 260px;
	}
	
	.main_logo{
		max-width:100px;
	}
	
	
	.main_menu_block{
		padding-top:200px;
		
	}
	ul.main_nav_list{
		font-size: 18px;
		margin-left: 70px;
	}

	.wristband_spinner_block{
		margin-top:50px;
	}
	.wristband_block{
		max-width:none;
		margin-left:-22%;
		margin-right:-22%;
		padding: 30% 0;
		margin-bottom: 0;
	}

	.securityspin_block {
		width: 90%;
		height: auto;
		left:5%;
		margin:0 auto;
		margin-top:0;
		margin-left:0;
		top:0;
		position:relative;
	
	}
	.securityspin_block_holder {
		display: flex;
		align-items: center;
	}
	
	
	.share_button_block,
	.subscribe_nav{
		visibility:hidden;
		opacity:0;
		transition:all .3s;
	}
	.main_menu_open .share_button_block,
	.main_menu_open .subscribe_nav{
		visibility:visible;
		opacity:1;
	}
	.play_button_block{
		margin-bottom:20px;
	}
	.block_button {
		line-height: 30px;
		width: 30px;
		height: 30px;
	}
	.block_button_icon{
		font-size:12px;
	}
	.home_copy{
		margin-top:0;
	}
	.home_copy_title_block h3{
		font-size:18px;
	}
	body.l-body{
		font-size:12px;
	}
	.button_back_block,
	.main_menu_link{
		top:15px;
	}
	
	
	.wristband_proportion_holder {
		width: 220px;
		height: 130px;
	}
	
	

	.wristband_center_content .play_button_block_video_alt .block_button {
		width: 20px;
		height: 20px;
		line-height: 20px;
	}
	.wristband_center_content .play_button_block_video_alt .play_button_label {
		font-size: 10px;
	}
	.wristband_center_content .play_button_block_video_alt .block_button_icon {
		font-size: 9px;
	}
	.play_button {
		margin-bottom: 3px;
	}
	#lock_icon_svg {
		width: 10px;
	}
	
	.site_portfolio_controls.opened .nav_main_circle {
		margin-left: -1230px;
		
	}
	.site_portfolio_controls.opened .portfolio_control_step.current .menu_rect_item {
		margin-left: -3px;
	}

	.portfolio_control_step.current .portfolio_control_step_label_alt {
		visibility: hidden;
		opacity: 0;
	}
	
	
	.our_team_title h2 {
		font-size: 25px;
	}
	
	
	
	
	.roadmap_item {
		width: 150px;
		
	}
	.roadmap_copy p {
		font-size: 11px;
	}
	.number_icon_label {
		font-size: 35px;
	}
	
	
	
	
	
	
	.vertical_scrolling_content_list {
		min-width: 180px;
	}
	.vert_nav {
		padding: 0;
		margin-left: 50px;
	}
	.vert_nav_arrows{
		margin-left:0;
	}
	.vert_nav_items,
	.vert_nav_vline{
		display:none;
	}
	.quote_content_block h1 {
		font-size: 25px;
	}
	.road_map_title h2 {
		font-size: 35px;
	}
	.wristband_what_1 {
		width: 50%;
		right: 0%;
	}
	.wristband_what_2 {
		width: 80%;
		right: 0;
	}
	.wristband_why_1 {
		width: 50%;
	}
	.wristband_why_2 {
		width: 60%;
	}
	
	
}



@media (max-width: 350px) {
	.main_menu_block{
		padding-top:150px;
	}
	ul.main_nav_list{
		font-size: 16px;
	}

}


.join_us_auto_box::-webkit-scrollbar { 
    display: none;
}
.join_us_auto_box{ 
	overflow-y:hidden!important;
}
@media (max-width: 1000px) {
	.join_us_auto_box { 
		overflow-y:auto!important;
	}
}
@media (max-width: 900px) and (orientation: landscape) {
	.l-canvas.sidebar_none .video_lightbox .l-section{
		padding-right:6rem;
	}

}
@media (max-width: 700px) and (orientation: landscape) {
	.wristband_spinner_block {
		max-width: 250px;
		margin: 0 auto;
	}
	.play_button_block{
		margin-top:-75px;
	}
	.home_copy{
		max-width:350px;
	}
}
@media (max-height: 600px) and (orientation: landscape) {
	.main_menu_block {
		padding-top: 200px;
	}
}
@media (max-height: 500px) and (orientation: landscape) {
	.main_menu_block {
		padding-top: 110px;
	}
}
@media (max-height: 400px) and (orientation: landscape) {
	ul.main_nav_list{
		font-size:15px;
	}
	ul.main_nav_list a {
		padding: 3px 0;
	}
	ul.main_nav_list li {
		margin-bottom:5px;
	}
}
@media (max-height: 350px) and (orientation: landscape) {
	.main_menu_block {
		padding-top: 100px;
	}
}